:root {
  --oui-font-family: 'Manrope', sans-serif;

  /* colors */
  --oui-color-primary: 216 137 6; 
  --oui-color-primary-light: 255 183 53; 
  --oui-color-primary-darken: 183 91 0; 
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 255 183 53; 
  --oui-color-link-light: 255 221 87; 

  --oui-color-secondary: 47 47 47;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 237 72 122;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169; 
  --oui-color-success-light: 90 255 190;
  --oui-color-success-darken: 0 204 133;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 15 15 15;
  --oui-color-fill-active: 40 40 40;

  --oui-color-base-1: 242 183 5;
  --oui-color-base-2: 227 163 0;
  --oui-color-base-3: 212 143 0;
  --oui-color-base-4: 197 123 0;
  --oui-color-base-5: 182 103 0;
  --oui-color-base-6: 167 83 0;
  --oui-color-base-7: 132 63 0; 
  --oui-color-base-8: 102 43 0;
  --oui-color-base-9: 68 28 0;
  --oui-color-base-10: 11 11 11;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 245 243 231;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 233 169; 
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 183 91 0; 
  --oui-gradient-primary-end: 216 137 6; 

  --oui-gradient-secondary-start: 107 107 107;
  --oui-gradient-secondary-end: 153 153 153;

  --oui-gradient-success-start: 0 204 133;
  --oui-gradient-success-end: 41 233 169; 

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 216 137 6;
  --oui-gradient-brand-end: 183 91 0; 
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 45deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 27 27 27;
  --oui-gradient-neutral-end: 38 38 38;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}