:root {
  --oui-font-family: 'Manrope', sans-serif;

  /* colors */
  --oui-color-primary: 233 43 71; 
  --oui-color-primary-light: 255 217 82; 
  --oui-color-primary-darken: 233 43 71; 
  --oui-color-primary-contrast: 0 0 0;

  --oui-color-link: 255 217 82; 
  --oui-color-link-light: 255 235 132; 

  --oui-color-secondary: 255 217 132;
  --oui-color-tertiary: 0 0 0;
  --oui-color-quaternary: 0 0 0;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 237 72 122;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 233 43 71; 
  --oui-color-success-light: 90 255 190;
  --oui-color-success-darken: 0 204 133;
  --oui-color-success-contrast: 0 0 0;

  --oui-color-warning: 233 43 71;
  --oui-color-warning-light: 255 217 82;
  --oui-color-warning-darken: 255 122 0;
  --oui-color-warning-contrast: 0 0 0;

  --oui-color-fill: 233 43 71;
  --oui-color-fill-active: 233 43 71;

  --oui-color-base-1: 93 83 123;
  --oui-color-base-2: 74 64 103;
  --oui-color-base-3: 56 46 83;
  --oui-color-base-4: 37 29 63;
  --oui-color-base-5: 32 32 63;
  --oui-color-base-6: 24 24 56;
  --oui-color-base-7: 51 46 66; 
  --oui-color-base-8: 16 16 40;
  --oui-color-base-9: 8 8 26;
  --oui-color-base-10: 14 13 18;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 233 173 43; 
  --oui-color-trading-profit-contrast: 0 0 0;

  /* gradients */
  --oui-gradient-primary-start: 217 163 0; 
  --oui-gradient-primary-end: 246 183 4; 

  --oui-gradient-secondary-start: 107 107 107;
  --oui-gradient-secondary-end: 153 153 153;

  --oui-gradient-success-start: 0 204 133;
  --oui-gradient-success-end: 41 233 169; 

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 255 217 82;
  --oui-gradient-brand-end: 233 43 71; 
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 45deg;

  --oui-gradient-warning-start: 217 163 0;
  --oui-gradient-warning-end: 246 183 4;

  --oui-gradient-neutral-start: 27 27 27;
  --oui-gradient-neutral-end: 38 38 38;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}