:root {
  --oui-font-family: 'Manrope', sans-serif;

  /* colors */
  --oui-color-primary: 246 183 4; 
  --oui-color-primary-light: 255 217 82; 
  --oui-color-primary-darken: 217 163 0; 
  --oui-color-primary-contrast: 0 0 0;

  --oui-color-link: 255 217 82; 
  --oui-color-link-light: 255 235 132; 

  --oui-color-secondary: 245 183 4;
  --oui-color-tertiary: 0 0 0;
  --oui-color-quaternary: 0 0 0;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 237 72 122;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169; 
  --oui-color-success-light: 90 255 190;
  --oui-color-success-darken: 0 204 133;
  --oui-color-success-contrast: 0 0 0;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 235 132;
  --oui-color-warning-darken: 217 163 0;
  --oui-color-warning-contrast: 0 0 0;

  --oui-color-fill: 245 183 4;
  --oui-color-fill-active: 245 183 4;

  --oui-color-base-1: 245 183 4;
  --oui-color-base-2: 245 183 4;
  --oui-color-base-3: 245 183 4;
  --oui-color-base-4: 245 183 4;
  --oui-color-base-5: 32 32 32;
  --oui-color-base-6: 24 24 24;
  --oui-color-base-7: 90 90 90; 
  --oui-color-base-8: 16 16 16;
  --oui-color-base-9: 8 8 8;
  --oui-color-base-10: 0 0 0;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 233 169; 
  --oui-color-trading-profit-contrast: 0 0 0;

  /* gradients */
  --oui-gradient-primary-start: 217 163 0; 
  --oui-gradient-primary-end: 246 183 4; 

  --oui-gradient-secondary-start: 107 107 107;
  --oui-gradient-secondary-end: 153 153 153;

  --oui-gradient-success-start: 0 204 133;
  --oui-gradient-success-end: 41 233 169; 

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 255 217 82;
  --oui-gradient-brand-end: 246 183 4; 
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 45deg;

  --oui-gradient-warning-start: 217 163 0;
  --oui-gradient-warning-end: 246 183 4;

  --oui-gradient-neutral-start: 27 27 27;
  --oui-gradient-neutral-end: 38 38 38;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}